## üé¨ Chapter 02: Decision Making with simple SQL queries

### üßÆ GROUP BY Applications

You can group data to analyze:

* Customer **preferences** by gender or country.
* Movie **popularity** by genre or year.
* Average **renting price** by genre.

### ‚ûï Basic `GROUP BY`

```sql
SELECT genre 
FROM movies_selected 
GROUP BY genre;
```

<table>
<thead><tr><th>genre</th></tr></thead>
<tbody>
<tr><td>Drama</td></tr>
<tr><td>Fantasy</td></tr>
<tr><td>Sci-Fiction</td></tr>
<tr><td>Animation</td></tr>
<tr><td>Romance</td></tr>
</tbody>
</table>


### üí∞ Average Renting Price by Genre

```sql
SELECT genre, AVG(renting_price) AS avg_price 
FROM movies_selected 
GROUP BY genre;
```

<table>
<thead><tr><th>genre</th><th>avg_price</th></tr></thead>
<tbody>
<tr><td>Drama</td><td>2.865</td></tr>
<tr><td>Fantasy</td><td>2.69</td></tr>
<tr><td>Sci-Fiction</td><td>2.87</td></tr>
<tr><td>Animation</td><td>2.923333333</td></tr>
<tr><td>Romance</td><td>2.99</td></tr>
</tbody>
</table>


### üßÆ Add `COUNT` with Aggregation

```sql
SELECT genre, AVG(renting_price) AS avg_price, COUNT(*) AS number_movies 
FROM movies_selected 
GROUP BY genre;
```

<table>
<thead><tr><th>genre</th><th>avg_price</th><th>number_movies</th></tr></thead>
<tbody>
<tr><td>Drama</td><td>2.865</td><td>4</td></tr>
<tr><td>Fantasy</td><td>2.69</td><td>3</td></tr>
<tr><td>Sci-Fiction</td><td>2.87</td><td>2</td></tr>
<tr><td>Animation</td><td>2.923333333</td><td>3</td></tr>
<tr><td>Romance</td><td>2.99</td><td>1</td></tr>
</tbody>
</table>


### üîç Filtering with `HAVING`

```sql
SELECT genre, AVG(renting_price) AS avg_price, COUNT(*) AS number_movies 
FROM movies 
GROUP BY genre 
HAVING COUNT(*) > 2;
```

<table>
<thead><tr><th>genre</th><th>avg_price</th><th>number_movies</th></tr></thead>
<tbody>
<tr><td>Drama</td><td>2.865</td><td>4</td></tr>
<tr><td>Fantasy</td><td>2.69</td><td>3</td></tr>
<tr><td>Animation</td><td>2.923333333</td><td>3</td></tr>
</tbody>
</table>


## üîó JOINs ‚Äì Merging Data Across Tables

### üîÑ LEFT JOIN Essentials

Keep all rows from the left table and match with the right table.

```sql
SELECT * 
FROM renting_selected AS r 
LEFT JOIN customers_selected AS c 
ON r.customer_id = c.customer_id;
```

<table>
<thead><tr><th>renting_id</th><th>customer_id</th><th>rating</th><th>name</th><th>gender</th></tr></thead>
<tbody>
<tr><td>518</td><td>1</td><td>null</td><td>Robert Bohm</td><td>male</td></tr>
<tr><td>203</td><td>2</td><td>6</td><td>Wolfgang Ackermann</td><td>male</td></tr>
<tr><td>478</td><td>4</td><td>null</td><td>Julia Jung</td><td>female</td></tr>
<tr><td>292</td><td>4</td><td>8</td><td>Julia Jung</td><td>female</td></tr>
<tr><td>477</td><td>5</td><td>7</td><td>null</td><td>null</td></tr>
</tbody>
</table>


### üîó Multiple JOINs

```sql
SELECT m.title, c.name 
FROM renting AS r 
LEFT JOIN movies AS m ON r.movie_id = m.movie_id 
LEFT JOIN customers AS c ON r.customer_id = c.customer_id;
```

Joins renting with both movies and customers to retrieve titles and names.


## üí∏ Subqueries ‚Äì Money Spent by Customers

### üë©‚Äçüé§ Step 1: Add Renting Price

```sql
SELECT r.customer_id, m.renting_price 
FROM renting AS r 
LEFT JOIN movies AS m 
ON r.movie_id = m.movie_id;
```

<table>
<thead><tr><th>customer_id</th><th>renting_price</th></tr></thead>
<tbody>
<tr><td>41</td><td>2.59</td></tr>
<tr><td>10</td><td>2.79</td></tr>
<tr><td>108</td><td>2.39</td></tr>
<tr><td>39</td><td>1.59</td></tr>
<tr><td>104</td><td>1.69</td></tr>
</tbody>
</table>


### üí∞ Step 2: Sum Money Spent per Customer

```sql
SELECT rm.customer_id, SUM(rm.renting_price) 
FROM 
    (SELECT r.customer_id, m.renting_price 
     FROM renting AS r 
     LEFT JOIN movies AS m ON r.movie_id = m.movie_id) AS rm 
GROUP BY rm.customer_id;
```

<table>
<thead><tr><th>customer_id</th><th>sum</th></tr></thead>
<tbody>
<tr><td>116</td><td>7.47</td></tr>
<tr><td>87</td><td>17.53</td></tr>
<tr><td>71</td><td>6.87</td></tr>
<tr><td>68</td><td>1.59</td></tr>
<tr><td>51</td><td>4.87</td></tr>
</tbody>
</table>


## üé≠ Favorite Actors of Customer Groups

### üß† Combine JOIN + WHERE + GROUP BY + HAVING + ORDER BY

Join renting data with customers, actsin, and actors:

```sql
SELECT a.name, COUNT(*) AS number_views, AVG(r.rating) AS avg_rating 
FROM renting AS r 
LEFT JOIN customers AS c ON r.customer_id = c.customer_id 
LEFT JOIN actsin AS ai ON r.movie_id = ai.movie_id 
LEFT JOIN actors AS a ON ai.actor_id = a.actor_id 
WHERE c.gender = 'male' 
GROUP BY a.name 
HAVING AVG(r.rating) IS NOT NULL 
ORDER BY avg_rating DESC, number_views DESC;
```

<table>
<thead><tr><th>name</th><th>number_views</th><th>avg_rating</th></tr></thead>
<tbody>
<tr><td>Ray Romano</td><td>3</td><td>10.00</td></tr>
<tr><td>Sean Bean</td><td>2</td><td>10.00</td></tr>
<tr><td>Leonardo DiCaprio</td><td>3</td><td>9.33</td></tr>
<tr><td>Christoph Waltz</td><td>3</td><td>9.33</td></tr>
</tbody>
</table>


## üß† Summary of Techniques Used

| Technique            | Purpose                                  |
|--------------------- | ---------------------------------------- |
| `GROUP BY`           | Group data for aggregation               |
| `HAVING`             | Filter groups based on aggregate results |
| `JOIN` / `LEFT JOIN` | Merge data across tables                 |
| Subqueries           | Nest SELECTs for intermediate results    |
| `ORDER BY`           | Sort data by custom logic                |